.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.value {
  font-size: 40px;
  font-weight: 700;
}

.description {
  font-size: 20px;
  color: #626f6f;
}

.footer {
  font-size: 20px;
  color: #626f6f;

}
